<footer class="footer bg-black small text-center text-white-50">
<div class="container px-4 px-lg-5">
<div class="row">
<div class="col-md-8 p-3 text-start">
<p>
Copyright &copy; {% year %} <a href="{{metadata.url}}">{{metadata.footer.left.copyrights}}</a> | 
{{metadata.footer.left.info.text}} <a href="{{metadata.footer.left.info.url}}" target="_blank">{{metadata.footer.left.info.jamstack}}</a>
</p>
</div>
<div class="col-md-4 p-3 text-end justify-content-end">
<div class="row">
{% for s in metadata.footer.right.list %}
<a href="{{s.url}}" class="col-md-4 col-4">{{s.nav}}</a>
{% endfor %}
</div>
</div>
</div>

</div></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />